@import 'compass';

.social {
	float: right;
	margin: 10px;
}

.social img {
	height: 20px;
	width: 20px;
}

.social ul {
	padding: 0px;
	list-style-position: inside;
	display: inline;
	list-style-type: none;
	height: 20px;
	width: 20px;
}

.social ul li {
	list-style-type: none;
	display: inline;
	height: 20px;
	width: 20px;
}

.resume {
	float: right;
	font-size: small;
	font-weight: 700;
	margin-right: 10px;
	width: 250px;
	text-align:right;
}

header {
	$header_width: 100%;

	@include border-radius( 0px 0px 5px 5px );
	@include box-shadow( black 0px 1px 10px, inset gray 0px -5px 20px );
	background-color:#9197A6;
	height:40px;
	padding-top:3px;
	position:fixed;
	left: 0px;
	right: 0px;
	top:0;
	z-index: 2;
	opacity: .95;
	margin-right: 10px;
	margin-left: 10px;
}

header img {
	float: left;
	width: 40px; 
	height: 40px;
}
header a img {
	width: 20px; 
	height: 20px;
}

header a
{
	text-decoration:none;
	color:#fff;
}

header h1 {
	float: left;
	color: white;
	font-size: 31px;
	font-weight: bolder;
	margin: 0;
	margin-right: 10px;
	margin-top: 9px;
}
header h2 {
	float: left;
	color: #48577D;
	font-size: 18px;
	font-weight: 400;
	margin: 10px 0 0;
}

.validation {
	float: right;
	margin: 10px;
	width: 155px;
}

.validation input {
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3px;
}

.x {
	background: url("../images/x.png") repeat scroll 0 0 transparent;
	height: 16px;
	margin-top: 3px;
	position: absolute;
	right: 113px;
	text-indent: -99999px;
	width: 16px;
}

nav {
	position:fixed;
	top: 40px;
	left: 15px;
	right: 15px;
	height: 19px;
	padding-top: 10px;
	@include border-radius( 0px 0px 5px 5px );
	@include box-shadow( black 0px 1px 10px, inset silver 0px 0px 1px );
	
	background-color:#48577D;
	
	font-size:small;
	font-weight:bold;
	color:#EEEEEE;
	
	z-index: 1;
	opacity: .95;
}

nav a {
	color: #EEEEEE;
}

nav a:link, nav a:visited {
	text-decoration:none;
}

nav a:hover {
	text-decoration:underline;
}

nav ul {
	margin: 0;
	float: left;
	
	list-style-type: none;
	list-style: none;
}

nav ul li {
	display: inline;
}