<header class="header">
	<img src="http://dustinjsparks.com/favicon.png" alt="Pixelmixer favicon">
	<h1><a href="index.php" rel="me">Dustin J Sparks</a></h1>
	<h2></h2>
	<div class="social">
		<ul>
			<li><a href="http://www.linkedin.com/in/pixelmixer" rel="me"><img src="http://www.linkedin.com/favicon.ico" alt="dustin j sparks linkedin"></a></li> 
			<li><a href="http://www.facebook.com/Pixelmixer" rel="me"><img src="http://www.facebook.com/favicon.ico" alt="dustin j sparks facebook"></a></li> 
			<li><a href="http://www.twitter.com/pixelmixer" rel="me"><img src="http://www.twitter.com/favicon.ico" alt="dustin j sparks twitter"></a></li> 
			<li><a href="http://www.google.com/profiles/PixelMixer" rel="me"><img src="http://google.com/favicon.ico" alt="dustin j sparks google"></a></li>
		</ul>
	</div>
	<form id="search_form" method="get" action="index.php">
	<div class="validation">
		<div class="x">x</div>
		<input type="search" autofocus="autofocus" placeholder="Search..." id="search" name="search" autocomplete="off" style="color: rgb(221, 221, 221); ">
		<div id="results" style="display: none; "><div id="tags"></div></div>
	</div>
	</form>
</header>