<nav>
	<ul>
		<li><a class="nava" href="all" rel="me">All</a></li>
		<li>- <a class="nava" href="flash" rel="me">Flash</a></li>
		<li>- <a class="nava" href="photoshop" rel="me">Photoshop</a></li>
		<li>- <a class="nava" href="dreamweaver" rel="me">Dreamweaver</a></li>
		<li>- <a class="nava" href="illustrator" rel="me">Illustrator</a></li>
		<li>- <a class="nava" href="dashcode" rel="me">Dashcode</a></li>
		<li>- <a class="nava" href="php" rel="me">PHP</a></li>
		<li>- <a class="nava" href="javascript" rel="me">Javascript</a></li>
	</ul>
	<div class="resume">
		<a class="nava" href="resume" rel="me">Resumé [HTML]</a>
		<a class="nava" href="resume.pdf" rel="me">[PDF]</a>
		<a class="nava" href="resume.doc" rel="me">[DOC]</a>
	</div>
</nav>